.container {
  margin: 0 auto;
  max-width: 500px;
  background-color: #FFFFFF;
  padding-bottom: 15px;
}
h1, .tagline {
  text-align: center;
  font-weight: bold;
}
h1{
  padding-top: 35px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #F9F7F5;
}

.city-description{
  font-size: 13px;
  text-align: center;
  margin-left: 25px;
}

h2 {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 3px solid #DFB88F;
}
.images{
  padding-left: 10px;
}
section img{
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  padding-left: 5px;
}

a {
  color: purple;
  padding-left: 225px;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

.images {
  margin-right: 95px;
  margin-left: 15px;
}
